html, body {
  font-family: Poppins, sans-serif;
  font-size: 16px;
}

body.stop {
  overflow-y: hidden;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  background: rgba(0, 0, 0, 0.349);
  visibility: hidden;
  opacity: 0;
  transition: all .3s;
}

.overlay--show {
  visibility: visible;
  opacity: 1;
}

.burger {
  display: none;
}

.main {}

.main__wedo {
  margin-bottom: 78px;
}

.main__portfolio {
  margin-bottom: 122px;
}

.main__testimonials {
  margin-bottom: 209px;
}

.main__subscribe {
  margin-bottom: 149px;
}

.link:hover {
  color: #FF3F3A;
  transition: all .3s;
}

.button {
  display: flex;
  font-weight: 500px;
  line-height: normal;
  padding: 10px;
  width: 105px;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  border-radius: 10px;
  background: #20B15A;
  white-space: nowrap;
}

.button--empty {
  display: flex;
  background-color: transparent;
  font-weight: 500px;
  line-height: normal;
  padding: 10px;
  width: 93px;
  justify-content: center;
  align-items: center;
  color: #000000;
  border-radius: 10px;
  border: 1px solid #20B15A;
}

.button--big {
  display: inline-block;
  font-weight: 500px;
  font-size: 20px;
  line-height: normal;
  padding: 20px 30px;
  width: auto;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  border-radius: 16px;
  background: #20B15A;
  white-space: nowrap;
  gap: 10px;
}

.button--subscribe {
  display: flex;
  position: absolute;
  top: 5px;
  right: 5.35px;
  font-weight: 500;
  line-height: normal;
  height: 52.703px;
  justify-content: center;
  align-items: center;
  border-radius: 14px;
  background: #F55F1D;
}

.button:hover {
  transform: scale(1.05);
  transition: all .3s;
}

.logo {}

.heading {
  color: #000;
}

.heading__subtitle {
  color: #20B15A;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.subtitle--wedo {
  margin-bottom: 15px;
}

.heading__title {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  max-width: 495px;
}

/* =============================================================================================================== */

.header {
  font-weight: 500px;
  background: #D7F5DC 50% -10% / cover no-repeat;
  display: flex;
  flex-direction: column;
  margin-bottom: 67px;
}

.header__top {}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
}

.header__logo {
  margin-right: auto;
}

.header__nav {
  margin-right: 30px;
}

.header__nav-list {
  display: flex;
  position: relative;
  padding-left: 10px;
}

.header__nav-item {
  margin-right: 30px;
}

.header__nav-link {
  font-weight: 500px;
  line-height: normal;
  color: #000000;
  white-space: nowrap;
}

.nav__img {
  padding-left: 10px;
}

.header__btn-box {
  display: flex;
  align-items: center;
}

.header__top-btn {
  margin-right: 30px;
}

.header__top-btn:last-child {
  margin-right: 0px;
}

/* =============================================================================================================== */

.header__body {
  flex: 1 1 auto;
}

.header__body-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000000;
  margin: auto 0;
}

.header__content {
  margin-right: 30px;
}

.header__title {
  font-size: 50px;
  font-weight: 700;
  line-height: 65px;
  max-width: 550px;
  margin-bottom: 10px;
}

.header__text {
  font-family: Avenir;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 37px;
}

.header__content-btn {}

.header__row {
  display: flex;
  height: 120px;
  padding: 0px 143.07px 0px 115px;
  justify-content: center;
  background: #F8FFF9;
  margin-bottom: 34px;
}

.header__row-item {
  display: flex;
  align-items: center;
  margin-right: 150px;
}

.header__row-item:last-child {
  margin-right: 0;
}

/* ====================================== WEDO ================================================ */
/* ====================================== WEDO ================================================ */

.wedo__inner {}

.wedo__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 40px;
}

.wedo__heding {}

.wedo__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.wedo__item {
  padding: 50px 30px;
  margin-right: 45px;
}

.wedo__item:last-child {
  margin-right: 0;
}

.wedo__item-link {}

.wedo__item-iner {}

.wedo__image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 30px;
  border-radius: 20px;
  background: #D7F5DC;
  margin-bottom: 15px;
  width: 33.333px;
  height: 33.333px;
}

.wedo__image-box img {
  max-width: 33.333px;
  max-height: 33.333px;
}

.wedo__item-content {}

.wedo__item__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 15px;
}

.wedo__item-text {
  max-width: 299px;
  font-family: Avenir;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 43px;
}

.wedo__item-button {
  display: flex;
  align-items: center;
  font-family: Avenir;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 15px 20px;
}

.learn_more {
  margin-right: 10px;
}

.arrow_right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 14px;
  stroke-width: 2px;
}

.arrow_right:hover path {
  transition: all .3s;
  stroke: #FF3F3A;
}

.wedo__achiev {
  justify-content: center;
  align-items: flex-end;
  max-width: 1440px;
  max-height: 420px;
}

.achiev__row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.achiev__item {
  display: flex;
  padding: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgba(196, 196, 196, 0.50);
}

.achiev__item:last-child {
  border-right: transparent;
}

.achiev__image-box {
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.achiev__image-box img {
  width: 70px;
  height: 70px;
}

.achiev__img-text {
  top: 0;
  margin-bottom: 15px;
}

.achiev__item-number {
  color: #20B15A;
  font-family: Avenir;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 60px;
  align-self: center;
}

/* ====================================== PORTFOLIO ================================================ */
/* ====================================== PORTFOLIO ================================================ */

.portfolio__inner {}

.portfolio__top {
  margin-bottom: 73px;
}

.portfolio__heding {}

.portfolio__columns {
  display: flex;
  justify-content: space-between;
}

.portfolio__column-left {
  display: inline-flex;
  flex-direction: column;
  margin-right: 10px;
}

.portfolio__column-right {
  display: flex;
  flex-direction: column;
}

.potfolio__left-item {
  max-width: 561px;
  align-content: space-between;
  margin-bottom: 98.64px;
}

.potfolio__left-item:last-child {
  margin-bottom: 74.98px;

}

.potfolio__right-item {
  width: 561px;
  align-content: space-between;
  margin-bottom: 95.93px;
}

.potfolio__right-item:last-child {
  margin-bottom: 71.48px;
}

.potfolio__item-link {}

.potfolio__image-box {
  margin-bottom: 42.788px;
}

.potfolio__item-content {}

.potfolio__item__title {
  font-size: 22.82px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  max-width: 394px;
  margin-bottom: 14.26px;
}

.potfolio__item-text {
  font-family: Avenir;
  font-size: 15.214px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 533.425px;
}

/* ====================================== TESTIMONIALS ========================================== */
/* ====================================== TESTIMONIALS ========================================== */

.testimonials__inner {
  display: flex;
  position: absolute;
}

.main__testimonials__top {}

.main__testimonials__heding {
  margin-bottom: 96px;
  position: relative;
}

/* Слайдер */
.testimonials__slider {}

.slick-slider {}

.slick-list {
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1320px;
  height: 300px;
}

.slick-track {
  display: flex;
}

/* Слайдер */
.testimonials__slide {
  display: flex;
  /* position: relative; */
  flex-direction: column;
  align-items: flex-start;
  padding: 40px;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  margin-right: 45px;
}

.slick-track .slick-slide {
  display: flex;
  height: 260px;
}

.slick-slide.slick-active {}

.slick-slide.slick-current {}

/* Конкретный слайдер */
.slider {}

.slider__item {}

.testimonials__slide-inner {}

.testimonials__slide .slick-slide .slick-current .slick-active {
  width: 470px;
}

.testimonials__quote {
  font-family: Avenir;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 20px;
  width: 390px;
}

.testimonials__user {
  display: flex;
  align-items: center;
}

.testimonials__avatar {
  display: flex;
  justify-content: start;
  align-items: start;
  width: 76px;
  height: 76px;
  margin-top: -3.49px;
  margin-right: 10px;
  margin-left: -15px;
  border-radius: 50%;
  overflow: hidden;
}

.testimonials__info {}

.testimonials__info-name {
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  margin-bottom: 5px;
}

.testimonials__info-position {
  font-family: Avenir;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

.testimonials__slider-arrows {
  position: absolute;
  right: 0;
  bottom: 0;
}

.testimonials__slider-arrows {
  display: flex;
}

.testimonials__slider-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  padding: 20px;
  border: 1px solid #000;
}

.testimonials__slider-arrow:hover {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  padding: 20px;
  background: #D7F5DC;
  ;
  border: none;
  transition: all .3s;
}

.testimonials__slider-arrow path {
  transition: all .3s;
}

.testimonials__slider-prev {
  margin-right: 21px;
}

.testimonials__slider-next {}

/* ========================================= SUBSCRIBE ========================================== */
/* ========================================= SUBSCRIBE ========================================== */

.subscribe__inner {
  text-align: center;
  max-width: 596px;
  margin: 0 auto;
}

.subscribe__top {
  margin-bottom: 40px;
}

.subtitle--subscribe {
  margin-bottom: 22px;
}

.title--subscribe {
  max-width: 596px;
  text-transform: capitalize;
  margin-bottom: 5px;
}

.subscribe__heding {}

.heading__text {
  color: #8B8B8B;
  text-align: center;
  font-family: Avenir;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: capitalize;
}

.subscribe__form {}

.subscribe__label {
  display: flex;
  position: relative;
}

.subscribe__form-input {
  display: flex;
  vertical-align: middle;
  border-radius: 14px;
  border: 1px solid #000;
  padding: 20px 16px;
  width: 596px;
}

.subscribe__form-input::placeholder {
  display: flex;
  justify-content: start;
  color: #8B8B8B;
  font-family: Avenir;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.subscribe__content-btn {}

.subscribe__form-btn {}

/* ========================================= FOOTER ========================================== */
/* ========================================= FOOTER ========================================== */

.footer {}

.footer__top {
  background: #00CA72;
  padding: 76px 0 88px;
}

.footer__top-inner {
  display: flex;
  justify-content: space-between;
}

.footer__top-col {
  display: inline-flex;
  flex-direction: column;
  padding: 0 15px;
}

.footer__top-col:first-child {
  max-width: 358px;
}

.footer__top-col:last-child {
  max-width: 288px;
}

.footer__top-logo {
  display: block;
  font-size: 39.2px;
  font-weight: 700;
  margin-bottom: 19.4px;
}

.footer__top-text {
  font-family: Avenir;
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
  font-style: normal;
  line-height: normal;
}

.text--adress {
  margin-top: 10px;
  font-weight: 500;
}

.footer__socials {
  display: flex;
}

.footer__socials-item {
  margin-right: 15.31px;
}

.footer__socials-item:last-child {
  margin-right: 0;
}

.footer__socials-item:hover {
  transform: scale(1.1);
  transition: all .3s;
}

.footer__socials-link {}

.footer--link:hover {
  color: #F9F9F9;
  transition: all .3s;
}

.footer__top-title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
  white-space: nowrap;
}

.footer__top-list {}

.footer__top-item {
  font-family: Avenir;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 25px;
}

.footer__top-item:last-child {
  margin-bottom: 0;
}

.footer__item-link {
  white-space: nowrap;
}

.footer__bottom {
  background: #00CA72;
}

.footer__bottom-inner {
  display: flex;
  justify-content: start;
  align-items: center;
}

.footer__copy {
  font-family: Avenir;
  font-size: 20px;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  margin-bottom: 29px;
}

/* ============================================ MEDIA ========================================== */
/* ============================================ MEDIA ========================================== */
/* -------------------------------------------- 1230 ------------------------------------------- */
@media (max-width: 1230px) {
  .header__title {
    font-size: 36px;
    line-height: 35px;
    max-width: 400px;
  }

  .header__text {
    font-size: 18px;
    font-weight: 500;
    max-width: 400px;
  }

  .header img {
    max-width: 550px;
  }

  .heading__subtitle {
    font-size: 18px;
  }

  .heading__title {
    font-size: 22px;
    max-width: none;
  }

  .wedo__item {
    padding: 40px 15px;
  }

  .portfolio__columns {
    justify-content: center;
    align-items: center;
  }

  .portfolio__column-left,
  .portfolio__column-right {
    max-width: 396px;
    margin: 0 auto;
  }

  .potfolio__image-box img {
    max-width: 396px;
  }

  .potfolio__item-content {
    max-width: 396px;
  }

  .testimonials__slider-arrow {
    width: 60px;
    height: 60px;
  }

  .testimonials__slider-arrow:hover {
    width: 60px;
    height: 60px;
  }

  .testimonials__quote,
  .testimonials__info-position {
    font-size: 16px;
  }

  .testimonials__info-name {
    font-size: 18px;
  }
}

/* -------------------------------------------- 1100 ------------------------------------------- */
@media (max-width: 1100px) {
  .burger {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 150;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all .3s;
  }

  .burger--follow {
    top: 15px;
    right: 15px;
    background-color: #fff;
    box-shadow: 0 1px 8px #a1a1a1;
  }

  .burger span {
    display: block;
    width: 30px;
    height: 4px;
    background: #000;
    border-radius: 3px;
    margin: 4px 0;
  }

  .burger::before,
  .burger::after {
    content: "";
    display: block;
    width: 30px;
    height: 4px;
    background: #000;
    border-radius: 3px;
  }

  /* ------------------X--------------- */
  .burger.open::before {
    position: fixed;
    transform: rotate(45deg);
    top: 43px;
  }

  .burger.open::after {
    position: fixed;
    transform: rotate(-45deg);
    top: 43px;
  }

  .burger.open span {
    transition: all .3s;
    transform: scale(0);
  }

  /* ------------------X--------------- */

  .header {
    padding-top: 42px;
  }

  .header__top {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #fff;
    z-index: 100;
    min-width: 280px;
    transform: translateX(0%);
    transition: all .3s;
  }

  .header__top--open {
    transform: translateX(100%);
  }

  .header__top-inner {
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    padding: 100px 0;
    align-items: center;
  }

  .header__logo {
    margin: 0 0 30px 0;
  }

  .header__nav {
    text-align: center;
    margin: 0 auto;
    flex-grow: 1;
  }

  .header__nav-list {
    flex-direction: column;
    justify-content: center;
    height: 100%;
  }

  .header__nav-item {
    display: flex;
    margin: 0;
  }

  .header__nav-link {
    display: block;
    padding: 10px;
  }

  .nav__img {
    padding-left: 0px;
  }

  .header__btn-box {
    flex-direction: column;
  }

  .header__top-btn {
    margin: 0 0 30px 0;
  }

  .wedo__top {
    margin-bottom: 10px;
  }

  .wedo__item {
    margin-right: 36px;
    margin: 0 auto;
  }

  .wedo__item__title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .testimonials__quote {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .wedo__item-button {
    font-size: 16px;
  }

  .achiev__item {
    display: flex;
    padding: 30px;
    max-width: 260px;
  }

  .achiev__image-box img {
    width: 65px;
    height: 65px;
  }

  .achiev__img-text {
    margin-bottom: 5px;
  }

  .achiev__item-number {
    font-size: 32px;
  }

  .portfolio__top {
    margin-bottom: 40px;
  }

  .footer__top {
    padding: 34px 0 15px;
  }

  .footer__top-logo {
    font-size: 32px;
  }

  .footer__top-text {
    font-size: 18px;
  }

  .footer__top-title {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .footer__top-item {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .footer__copy {
    font-size: 18px;
  }
}

/* --------------------------------------------- 970 ------------------------------------------- */
@media (max-width: 970px) {
  .header__content {
    margin-right: 0;
  }

  .header img {
    display: none;
  }

  .header__row {
    display: none;
  }

  .main__wedo {
    margin-bottom: 50px;
  }

  .wedo__achiev {
    display: none;
  }

  .wedo__item {
    padding: 40px 15px 10px;
  }

  .main__portfolio {
    margin-bottom: 50px;
  }

  .portfolio__columns {
    flex-direction: column;
    margin: 0;
  }

  .portfolio__column-left,
  .portfolio__column-right {
    justify-content: center;
    margin: 0;
  }

  .potfolio__left-item,
  .potfolio__right-item {
    max-width: 396px;
    margin-bottom: 55px;
  }

  .potfolio__left-item:last-child {
    margin-bottom: 50px;
  }

  .main__testimonials {
    margin-bottom: 50px;
  }

  .main__testimonials__heding {
    margin-bottom: 50px;
  }

  .main__subscribe {
    margin-bottom: 50px;
  }

}

/* --------------------------------------------- 870 ------------------------------------------- */
@media (max-width: 870px) {
  .wedo__row {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }

  .wedo__item:last-child {
    margin-right: auto;
  }

  .footer__top-text {
    margin-bottom: 10px;
  }

  .footer__socials {
    margin-bottom: 10px;
  }
}

/* --------------------------------------------- 790 ------------------------------------------- */
@media (max-width: 790px) {
  .footer__top-inner {
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .footer__top-col:first-child {
    flex-basis: 100%;
    max-width: none;
    margin-bottom: 20px;
  }

  .footer__top-col {
    margin-bottom: 20px;
  }

  .footer__top-col:last-child {
    margin-bottom: 0px;
  }
}

/* --------------------------------------------- 500 ------------------------------------------- */

@media (max-width: 500px) {
  .main__testimonials__heding {
    margin-bottom: 10px;
  }

  .testimonials__slider-arrows {
    position: relative;
    top: 10px;
  }

  .testimonials__slide {}

  .footer__top-col:last-child {
    flex-basis: 100%;
    max-width: none;
  }
}

  /* --------------------------------------------- 400 ------------------------------------------- */

  @media (max-width: 400px) {
    .header__top {
      min-width: none;
      left: 0;
    }

    /* ------------------------------------------------- */
    .header__title {
      max-width: none;
      font-size: 30px;
    }

    .header__text {
      max-width: none;
      font-size: 13px;
    }

    .main__portfolio {
      margin-bottom: 50px;
    }
  }