html, body {
  font-family: Poppins, sans-serif;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.main {}

.main__wedo {
  margin-bottom: 78px;
}

.main__portfolio {
  margin-bottom: 122px;
}

.main__testimonials {
  margin-bottom: 91px;
}

.link:hover {
  color: #FF3F3A;
  transition: all .3s;
}

.button {
  display: flex;
  font-weight: 500px;
  line-height: normal;
  padding: 10px;
  width: 105px;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  border-radius: 10px;
  background: #20B15A;
  white-space: nowrap;
}

.button--empty {
  display: flex;
  background-color: transparent;
  font-weight: 500px;
  line-height: normal;
  padding: 10px;
  width: 93px;
  justify-content: center;
  align-items: center;
  color: #000000;
  border-radius: 10px;
  border: 1px solid #20B15A;
}

.button--big {
  display: inline-block;
  font-weight: 500px;
  font-size: 20px;
  line-height: normal;
  padding: 20px 30px;
  width: auto;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  border-radius: 16px;
  background: #20B15A;
  white-space: nowrap;
  gap: 10px;
}

.button:hover {
  transform: scale(1.05);
}

.logo {}

.heading {
  color: #000;
}

.heading__subtitle {
  color: #20B15A;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 24px;
}

.heading__subtitle-wedo {
  color: #20B15A;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.heading__title {
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  max-width: 495px;
}

/* =============================================================================================================== */

.header {
  font-weight: 500px;
  background: #D7F5DC 50% -10% / cover no-repeat;
  display: flex;
  flex-direction: column;
  margin-bottom: 67px;
}

.header__top {}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
}

.header__logo {
  margin-right: auto;
}

.header__nav {
  margin-right: 30px;
}

.header__nav-list {
  display: flex;
  position: relative;
  padding-left: 10px;
}

.header__nav-item {
  margin-right: 30px;
}

.header__nav-link {
  font-weight: 500px;
  line-height: normal;
  color: #000000;
  white-space: nowrap;
}

.nav_img {
  padding-left: 10px;
}

.header__btn-box {
  display: flex;
  align-items: center;
}

.header__top-btn {
  margin-right: 30px;
}

.header__top-btn:last-child {
  margin-right: 0px;
}

/* =============================================================================================================== */

.header__body {
  flex: 1 1 auto;
}

.header__body-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000000;
  margin: auto 0;
}

.header__content {
  margin-right: 30px;
}

.header__title {
  font-size: 50px;
  font-weight: 700;
  line-height: 65px;
  max-width: 550px;
  margin-bottom: 10px;
}

.header__text {
  font-family: Avenir;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 37px;
}

.header__content-btn {}

.header__row {
  display: flex;
  height: 120px;
  padding: 0px 143.07px 0px 115px;
  justify-content: center;
  background: #F8FFF9;
  margin-bottom: 34px;
}

.header__row-item {
  display: flex;
  align-items: center;
  margin-right: 150px;
}

.header__row-item:last-child {
  margin-right: 0;
}

/* ====================================== WEDO ================================================ */
/* ====================================== WEDO ================================================ */

.wedo__inner {}

.wedo__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 40px;
}

.wedo__heding {}

.wedo__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 48px;
}

.wedo__item {
  padding: 50px 30px;
  margin-right: 45px;
}

.wedo__item:last-child {
  margin-right: 0;
}

.wedo__item-link {}

.wedo__item-iner {}

.wedo__image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 30px;
  border-radius: 20px;
  background: #D7F5DC;
  margin-bottom: 15px;
  width: 33.333px;
  height: 33.333px;
}

.wedo__image-box img {
  max-width: 33.333px;
  max-height: 33.333px;
}

.wedo__item-content {}

.wedo__item__title {
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-bottom: 15px;
}

.wedo__item-text {
  width: 299px;
  font-family: Avenir;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-bottom: 43px;
}

.wedo__item-button {
  display: flex;
  align-items: center;
  font-family: Avenir;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 15px 20px;
}

.learn_more {
  margin-right: 10px;
}

.arrow_right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 14px;
  stroke-width: 2px;
}

.arrow_right:hover path {
  transition: all .3s;
  stroke: #FF3F3A;
}

.wedo__achiev {
  justify-content: center;
  align-items: flex-end;
  max-width: 1440px;
  max-height: 420px;
}

.achiev__row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.achiev__item {
  display: flex;
  padding: 40px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-right: 1px solid rgba(196, 196, 196, 0.50);
}

.achiev__item:last-child {
  border-right: transparent;
}

.achiev__image-box {
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.achiev__image-box img {
  width: 70px;
  height: 70px;
}

.achiev__img-text {
  top: 0;
  margin-bottom: 15px;
}

.achiev__item-number {
  color: #20B15A;
  font-family: Avenir;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 60px;
  align-self: center;
}

/* ====================================== PORTFOLIO ================================================ */
/* ====================================== PORTFOLIO ================================================ */

.portfolio__inner {}

.portfolio__top {
  margin-bottom: 73px;
}

.portfolio__heding {}

.portfolio__columns {
  display: flex;
  justify-content: space-between;
}

.portfolio__column-left {
  display: inline-flex;
  flex-direction: column;
  margin-right: 10px;
}

.portfolio__column-right {
  display: flex;
  flex-direction: column;
}

.potfolio__left-item {
  width: 561px;
  align-content: space-between;
  margin-bottom: 98.64px;
}

.potfolio__left-item:last-child {
  margin-bottom: 74.98px;

}

.potfolio__right-item {
  width: 561px;
  align-content: space-between;
  margin-bottom: 95.93px;
}

.potfolio__right-item:last-child {
  margin-bottom: 71.48px;
}

.potfolio__item-link {}

.potfolio__image-box {
  margin-bottom: 42.788px;
}

.potfolio__item-content {}

.potfolio__item__title {
  font-size: 22.82px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  max-width: 394px;
  margin-bottom: 14.26px;
}

.potfolio__item-text {
  font-family: Avenir;
  font-size: 15.214px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 533.425px;
}

/* ====================================== TESTIMONIALS ========================================== */
/* ====================================== TESTIMONIALS ========================================== */

.testimonials {
  background-color: #FFF;
}

.main__testimonials__top {}

.main__testimonials__heding {
  margin-bottom: 96px;
}

.testimonials__slider-wraper {}

.testimonials__slider {
  display: flex;
  justify-content: space-between;
}

.testimonials__slide {
  display: flex;
  align-items: flex-start;
  padding: 40px;
  max-width: 470px;
  border-radius: 20px;
  background: #FFF;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.testimonials__slide-inner {
  margin: 0 auto;
}

.testimonials__quote {
  font-feature-settings: 'clig'off, 'liga'off;
  font-family: Avenir;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
  margin-bottom: 20px;
  max-width: 390px;
}

.testimonials__user {
  display: flex;
}

.testimonials__avatar {
  overflow: hidden;
  width: 76.047px;
  height: 76.047px;
  margin-right: 10px;
  border-radius: 50%;
}

.testimonials__info {}

.testimonials__info-name {
  font-feature-settings: 'clig'off, 'liga'off;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 25px;
  margin-bottom: 5px;
}

.testimonials__info-position {
  font-feature-settings: 'clig'off, 'liga'off;
  font-family: Avenir;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}