html, body {
  font-family: Poppins, sans-serif;
}

.wrapper {
  min-height: 100%;
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1270px;
  padding: 0 15px;
  margin: 0 auto;
  height: 100%;
}

.button {
  display: flex;
  font-weight: 500px;
  line-height: normal;
  padding: 10px;
  width: 105px;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  border-radius: 10px;
  background: #20B15A;
  white-space: nowrap;
}

.button--empty {
  display: flex;
  background-color: transparent;
  font-weight: 500px;
  line-height: normal;
  padding: 10px;
  width: 93px;
  justify-content: center;
  align-items: center;
  color: #000000;
  border-radius: 10px;
  border: 1px solid #20B15A;
}

.button--big {
  display: inline-block;
  font-weight: 500px;
  font-size: 20px;
  line-height: normal;
  padding: 20px 30px;
  width: auto;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  border-radius: 16px;
  background: #20B15A;
  white-space: nowrap;
  gap: 10px;
}

.button:hover {
  transform: scale(1.05);
}

.logo {}

/* =============================================================================================================== */

.header {
  font-weight: 500px;
  background: #D7F5DC 50% -10% / cover no-repeat;
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
}

.header__top {}

.header__top-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0;
}

.header__logo {
  margin-right: auto;
}

.header__nav {
  margin-right: 30px;
}

.header__nav-list {
  display: flex;
  position: relative;
  padding-left: 10px;
}

.header__nav-item {
  margin-right: 30px;
}

.header__nav-item:first-child:after {
  content: "";
  position: absolute;
  display: inline-block;
  background: url("../images/icons/arrow-down.svg") no-repeat;
  width: 20px;
  height: 20px;
}

.header__nav-link {
  font-weight: 500px;
  line-height: normal;
  color: #000000;
  white-space: nowrap;
}

.header__nav-link:hover {
  color: #FF3F3A;
  transition: all .3s;
}

.header__btn-box {
  display: flex;
  align-items: center;
}

.header__top-btn {
  margin-right: 30px;
}

.header__top-btn:last-child {
  margin-right: 0px;
}

/* =============================================================================================================== */

.header__body {
  flex: 1 1 auto;
}

.header__body-inner {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.header__main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #000000;
  margin: auto 0;
}

.header__content {
  margin-right: 30px;
}

.header__title {
  font-size: 50px;
  font-weight: 700;
  line-height: 65px;
  max-width: 550px;
  margin-bottom: 10px;
}

.header__text {
  font-family: Avenir;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin-bottom: 37px;
}

.header__content-btn {}

.header__row {
  display: flex;
  height: 120px;
  justify-content: center;
  background: #F8FFF9;
  margin-bottom: 34px;
}

.header__row-item {
  display: flex;
  margin-right: 150px;
}

.header__row-item:last-child {
  margin-right: 0;
}